.cover__overlay {
  max-width: 1184px;
  margin: 0 auto;
  z-index: 0;
}

.cover__overlay::before {
  content: '';
  display: block;
  max-width: 1184px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.3;
  transition: opacity 2s;
  z-index: 1;
}

.cover__overlay:hover::before {
  transition: 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 0.8;
}
