@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);

:root { /*в variables.css*/
  --main-color: #2A2C2F;
  --main-text-color: #FFFFFF;
}

.header {
  color: var(--main-text-color);
  margin: 0 auto;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
}

.header__lang {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: end;
}

.header__lang-link {
  color: var(--main-text-color);
  margin: 0 auto;
  padding: 0 0 6px;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  color: var(--main-text-color);
  margin: 0 0;
  padding: 0;
}

.lead__title {
  max-width: 720px;
  min-height: 200px;
  margin: 0 auto;
  padding: 0;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  min-height: 72px;
  margin: 32px auto 64px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image { /*подумать еще над формулой*/
  display: block;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 296px);
}

.lead__caption {
  margin: 8px 0 0 148px;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

.intro {
  margin: 0 0;
  padding: 0;
  color: var(--main-text-color);
}

.intro__title {
  margin: 92px 0 0 148px;
  padding: 0;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.intro__text {
  margin: 40px 0 33px 148px;
  padding: 0;
  max-width: 690px;
  min-height: 208px;
  font-size: 16px;
  line-height: 26.08px;
}

.intro__lists {
  margin: 0 0 92px 148px;
  padding: 0;
  max-width: 690px;
}

.intro__bold-list {
  font-weight: 700;
}

.intro__list {
  margin: 0 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.photo-grid {
  max-width: 1280px;
  margin: 0 48px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-auto-flow: dense;
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

.places {
  margin-top: 92px;
}

.place {
  color: var(--main-text-color);
  margin: 0 148px 80px;
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.place__title {
  margin: 0 0;
  padding: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  align-self: end;
}

.place__link {
  margin: 0 0;
  padding: 0;
  align-self: end;
}

.place__website {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}

.place__website-link {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.place__image {
  width: 100%;
  max-height: 460px;
}

.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  position: relative;
}

.cover__overlay {
  background-color: var(--main-color);
  opacity: 0.5;
}

.cover__background {
  width: 100vw;
}

.cover__link {
  color: var(--main-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
}

.cover__subtitle {
  max-width: 360px;;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}




@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }

  .header__lang-link {
    padding-bottom: 6px;
    font-size: 18px;
    line-height: 20px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .lead__title {
    max-width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin: 16px auto 40px;
    max-width: 288px;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    width: 100%;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro__title {
    margin: 64px 16px 40px;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    margin: 0 16px 0 16px;
  }

  .intro__lists {
    margin: 34px 16px 64px 16px;
  }

  .photo-grid {
    margin: 0 16px 0;
    padding: 0;
    display: block;
    line-height: 0.67;
  }

  .photo-grid__item {
    margin-bottom: 12px;
  }

  .photo-grid__item:last-of-type {
    margin-bottom: 0;
  }

  .places {
    margin-top: 64px;
  }

  .place {
    color: var(--main-text-color);
    margin: 0 0 50px 0;
    display: block;
  }

  .place__title {
    margin: 0 16px 32px;
    padding: 0;
    font-size: 32px;
    line-height: 35px;
  }

  .place__link {
    margin: 32px 16px 0;
  }

  .place__image {
    margin-top: 32px;
    width: 100%;
    height: 100%;
  }

  .place__paragraph {
    margin: 32px 16px 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px;
 }

  .lead__image {
    width: 100%;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro__title {
    margin: 88px 24px 40px;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__text {
    margin: 0 24px 33px;
  }

  .intro__lists {
    margin: 0 24px 88px;
  }

  .photo-grid {
    margin: 0 24px;
  }

  .places {
    margin-top: 88px;
  }

  .place {
    margin: 0 0 50px 0;
  }

  .place {
    margin: 0 24px 73px;
    grid-column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
 .header {
    padding-bottom: 48px;
 }

  .lead__image {
    width: calc(100vw - 96px);
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__caption {
    margin-left: 48px;
  }

  .intro__title {
    margin: 92px 48px 40px;
  }

  .intro__text {
    margin: 0 48px 33px;
  }

  .intro__lists {
    margin: 0 48px 92px;
  }

  .place {
    margin: 0 48px 80px;
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    display: block;
    width: 1184px;
    height: 740px;
    margin: 0 auto;
  }
}
